<h1>Careers</h1>

<ul><%= render @careers %></ul>

<h2>Admin</h2>

<ul>
  <li><%= link_to 'Add New Career', new_career_path %></li>
  <li><%= link_to 'View All Applications', job_applications_path %></li>
</ul>


