<li>
<strong><%= job_application.career.title %></strong> <%= link_to job_application.full_name, job_application_path(job_application) %> (<%= job_application.email %>) | <%= link_to 'Delete', job_application_path(job_application), method: :delete %>
</li>
