$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
$serif: "adelle-1", "adelle-2", helvetica;

$darkwarmgray: #555;

$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #DDD;
$gray-5: #F3F3F3;
